.recruitment-step-container {
    background-color: rgb(185, 185, 228);
    border: 3px solid black;
    width: 18%;
    float: left;
    padding: 5px;
    min-height: 600px;
    border-radius: 25px;
    margin: 5px;

    h1 {
        color:Black;
    }
}